.navbar {

  height: 6vh;
  width: 100%;
  background: rgb(114, 54, 18);
  display: flex;
  justify-content: center;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links a {
  margin: 0 15px;
  color: #FFFFFF;
}
.cart {
  position: absolute;
  right: 0;
}